/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Vollkorn", serif;
  line-height: 1;
  font-size: 16px;
  background-color: #fbf7ef;
}

header {
  padding-top: 32px;
  background-color: #fbf7ef;
}

.headerContainer {
  position: relative;
}

.logo {
  background-image: url("../images/matkassen-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 100px;
}

.navContainer {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  margin-top: 42px;
  margin-right: 16px;
}

.menuIcon {
  background-image: url("../images/menyIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 32px;
}

.profileContainer {
  display: flex;
  background-color: #0e1a11;
  padding: 16px;
  border-radius: 12px;
  font-weight: 100;
}

.profileContainer:hover {
  cursor: pointer;
  animation-name: boxFader;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.profileContainer p {
  color: #fbf7ef;
  line-height: 1.75;
  margin-left: 8px;
}

.profileIcon {
  float: right;
  background-image: url("../images/profileIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 28px;
  width: 28px;
  margin-left: 24px;
}

/*----------------------- Home View ------------------------------*/

.bannerContainer {
  position: relative;
  background-image: linear-gradient(-60deg, #a7c957, #cdd993);
  border-radius: 32px;
  padding: 64px 64px 42px 64px;
}

.bannerContainer h2 {
  font-size: 42px;
  font-weight: 600;
  color: #0e1a11;
  line-height: 1.15;
}

.bannerContainer button {
  width: 180px;
  height: 48px;
  border: none;
  background-color: #0e1a11;
  color: #fbf7ef;
  font-family: "Vollkorn", serif;
  font-size: 16px;
  margin-top: 28px;
}

.bannerContainer button:hover {
  cursor: pointer;
  animation-name: boxFader;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.bannerIllustration {
  position: absolute;
  background-image: url("../images/shopping-illustration.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 50%;
  right: 0;
  bottom: 0;
  margin-right: 16px;
}

/*---- Filter ----*/

.filter {
  height: 100px;
  flex: 15%;
}

.filter h3 {
  color: #0e1a11;
  font-size: 32px;
  font-weight: 600;
}

.filter h4 {
  font-size: 24px;
  margin: 24px 0px 8px 0px;
  font-weight: 100;
}

.sortOption {
  position: relative;
  display: flex;
  background-color: #0e1a11;
  color: #fbf7ef;
  padding: 15px 18px;
  font-weight: 100;
  width: 144px;
  border-radius: 32px;
  margin-top: 28px;
}

.sortOption:hover {
  cursor: pointer;
  animation-name: boxFader;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.sortOption p {
  float: left;
  font-size: 14px;
}

.dropDownIcon {
  position: absolute;
  background-image: url("../images/drop-down-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
  float: right;
  right: 0;
  margin-right: 16px;
}

.filterOptions {
  background-color: #fbf7ef;
}

.option {
  position: relative;
  width: 80%;
  height: 48px;
  border: solid 1px #0e1a11;
  border-radius: 8px;
}

.option p {
  padding: 18px;
}

/* Filter checkbox */

/* The container */
.checkboxContainer {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  border: solid 1px #0e1a11;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #0e1a11;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 13px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.box {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3px 45px;
}

.browserSection {
  width: 100%;
  height: 400px;
}

.browserContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 64px 0px;
  grid-gap: 32px;
  width: 100%;
}

.mealView {
  height: 100px;
  margin: auto;
  flex: 50%;
}

/*--------------- Searchbar -------------- */

.searchBar {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #0e1a1125;
  border-radius: 20px;
  margin-bottom: 24px;
}

.searchIcon {
  float: left;
  height: 100%;
  width: 20px;
  margin-left: 16px;
  background-image: url("../images/searchIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.searchBar input {
  font-family: "Vollkorn", serif;
  font-size: 14px;
  width: 100%;
  border: 0;
  background-color: #0e1a1100;
  padding-left: 10px;
  border-radius: 20px;
  height: 100%;
}

/*--------------- Meal Card ---------------*/

@keyframes boxFader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 24px 0px #0e1a1175;
  }
}

@keyframes boxFaderDelete {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: solid 1px #923730;
    color: #923730;
    box-shadow: 0px 0px 8px 0px #92373075;
  }
}

.mealsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-gap: 8px;
}

.mealCard {
  display: block;
  position: relative;
  width: 144px;
  height: 192px;
  border-radius: 8px;
  border: solid 3px #0e1a11;
}

.addMealCard {
  display: block;
  position: relative;
  width: 144px;
  height: 196px;
  border-radius: 8px;
  border: solid 1px #0e1a11;
}

.addMealDescription {
  width: 100%;
  height: 136px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
  padding-top: 60px;
}

.addMealDescription:hover {
  cursor: pointer;
  animation-name: boxFader;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.addMealDescription p {
  font-size: 20px;
}

.addMealImg {
  width: 20px;
  height: 42px;
  margin: auto;
  background-image: url("../images/pluss.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mealCard:hover {
  cursor: pointer;
  animation-name: boxFader;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.mealCard h5 {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
}

.mealElements {
  position: absolute;
  width: 100%;
  background-color: #0e1a11;
  border-radius: 6px 6px 0px 0px;
  color: #fbf7ef;
  box-shadow: 0px 0px 16px 1px #0e1a11;
  clip-path: inset(-24px -1px 0px 0px);
  bottom: 0;
}

.mealDescription {
  padding: 16px;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.3;
}

.mealPrice {
  width: 50px;
  text-align: center;
  margin-top: 22px;
  font-weight: 700;
}

.priceDecoration {
  width: 100%;
  border: dashed 0.2px #fbf7ef;
}

.addButton {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 25px;
  background-color: #fbf7ef;
  bottom: 0;
  right: 0;
  margin: 8px;
  text-align: center;
  font-size: 42px;
  font-weight: 100;
}

.plussImg {
  width: 20px;
  height: 42px;
  margin: auto;
  background-image: url("../images/pluss.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@keyframes fader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 12px 0px #fbf7ef;
  }
}

.addButton:hover {
  cursor: pointer;
  animation-name: fader;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

b {
  font-weight: 700;
}

footer {
  position: relative;
  background-color: #0e1a11;
  height: 200px;
  padding: 32px;
  width: 100%;
  margin-bottom: -24px;
}

.footerNav {
  padding: 32px;
  width: 200px;
  border: solid 1px #fbf7ef;
  border-radius: 4px;
  height: 100px;
}

.footerNav h7 {
  font-size: 24px;
  color: #fbf7ef;
}

.footerNav p {
  color: #fbf7ef;
  width: 100%;
  height: 200px;
}

.footerSignature {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fbf7ef;
  text-decoration: none;
  bottom: 0;
  padding: 32px 0px;
}

/*------------- Din Side ------------- */

.profileBannerContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
}

.profileBanner {
  float: left;
  position: relative;
  width: 100%;
  background-color: #0e1a11;
  height: 200px;
  border-radius: 32px;
  grid-column: 1 / 4;
  grid-row: 1;
}

.profileBanner h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fbf7ef;
  padding: 32px;
  font-size: 32px;
  font-weight: 700;
}

.profilePicture {
  float: right;
  width: 200px;
  border: solid 1px #0e1a11;
  height: 200px;
  width: 100%;
  border-radius: 32px;
}

.profileImage {
  margin: auto;
  height: 100%;
  width: 50%;
  background-image: url("../images/defaultProfilePicture.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profileStat {
  display: flex;
  flex-direction: row;
  padding: 64px;
}

.yourSide {
  position: relative;
  flex: 75%;
}

.account {
  flex: 25%;
}

.logOut {
  width: 100%;
  height: 50px;
  border: solid 1px #0e1a11;
  border-radius: 25px;
  text-align: center;
  line-height: 3.3;
  font-weight: 100;
  margin-bottom: 8px;
}

.deleteAccount {
  width: 100%;
  height: 50px;
  border: solid 1px #0e1a11;
  border-radius: 25px;
  text-align: center;
  line-height: 3.3;
  font-weight: 100;
  opacity: 0.5;
}

.logOut:hover {
  cursor: pointer;
  animation-name: boxFader;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.deleteAccount:hover {
  cursor: pointer;
  animation-name: boxFaderDelete;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.accountBox {
  position: relative;
  margin-top: 32px;
}

.accountDeco {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 13px;
  background-image: url(../images/wave.svg);
  background-size: contain;
  background-position: center;
  margin-right: 64px;
}

.profileStat h1 {
  font-size: 32px;
  font-weight: 600;
}

.profileStat h2 {
  font-size: 32px;
  font-weight: 600;
}

.statContainer {
  display: flex;
  margin-top: 32px;
  grid-gap: 16px;
}

.statCard {
  position: relative;
  padding: 16px;
  background-color: #0e1a11;
  color: #fbf7ef;
  width: 80px;
  height: 80px;
}

.statCard h7 {
  font-size: 16px;
}

.statCard p {
  width: 100%;
  height: 100%;
  font-size: 48px;
  text-align: center;
  line-height: 1.7;
}

@media (max-width: 800px) {
  .browserContainer {
    flex-direction: column;
  }

  .profileStat {
    flex-direction: column;
  }

  .profileStat {
    padding: 8px;
    margin-top: 64px;
  }

  .accountDeco {
    display: none;
  }

  .option {
    width: 100%;
  }

  .mealView {
    width: 100%;
  }

  .mealsContainer {
    grid-gap: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .profileContainer {
    display: none;
  }

  .navContainer {
    margin-top: 56px;
    margin-right: -8px;
  }

  .account {
    margin-top: 64px;
  }
}
